@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

/*zerando para futuramente não dá problema e forçando algumas caracterisiticas serem pegas*/
* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    border: 0;
    text-decoration: none;
    color: black;
    /*contorno*/
    outline: none;
    /*formatar o texto*/
    transition: all .2s linear;
}

/*seletor do mouse*/
*::selection {
    background: darkslategray;
    color: #fff;

}

*::placeholder {
    color: #ffab41;
}

/*iniciando o html*/


/*finalizando o html*/

/*iniciando o body*/


/*finalizando o body*/

/*estilizando o header*/
header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(164,226, 249, .40);
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3);
    width: 100%;
    text-transform: capitalize;
    display: flex;
    justify-content: space-around;
}

/*estilizando o texto dentro do header*/
header>.text-logo {
    font-size: 2rem;
    color: #000;
    padding: 0.5rem;
    text-align: center;
}

/*criando o span hamburg*/
header>#menu-icon {
    width: 20px;
    /* border-top:1px solid #666; */
    font-size: 2rem;
    margin: 1rem;
    color: #000;
    display: none;
}

/*terminando o span hamburg*/

/*iniciando nav*/
header>.nav-barra>ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background: rgba(164,226, 249, .20);
    padding: 1rem;

}

header>.nav-barra>ul>li {
    margin: 0 1.5rem;

}

header>.nav-barra>ul>li>a {
    font-size: 1.3rem;
    color: #000;
}

header>.nav-barra>ul>li>a:hover {
    color: #666;
}

/*termiando nav*/


/*Main/Parallax*/

*main {
    word-wrap: break-word;
    word-break: break-all;
    box-sizing: border-box;
}

/*parallax*/


/* button switch 2 */



/* input[ colocar um atributo aqui dentro permite selecionar apenas os checkbox] */
input[type="checkbox"] {
    width: 60px;
    height: 25px;
    appearance: none;
    /*retira a imagem padrao*/
    background-color: wheat;
    border-radius: 50px;
    box-shadow: inset 0px 0px 16px 1px, rgba(0, 0, 0, .24);
    cursor: pointer;
    ;
    position: relative;

}

.li-tema>i {
    font-size: 25px;
    margin-left: 5px;
    align-self: center;
    box-sizing: border-box;
    position: absolute;
    color: #000;
    cursor: pointer;
}

input:checked[type="checkbox"] {
    background-color: #ffab41;
    transition: 0.6s;
    /* transform-origin: left; */
}

input:checked[type="checkbox"]:before {
    left: 35px;
}

input[type="checkbox"]:before {
    content: '';
    width: 25px;
    top: 0;
    transition: .8s;
    left: 0;
    height: 25px;
    background-color: aliceblue;
    position: absolute;
    border-radius: 25px;
    box-shadow: 0px 4px 8px 1px, rgba(0, 0, 0, .25);
    transform: scale(1.1);
}



/* chamar no css apos adicionar no
.active{
    background: black;
} */


/* parallax slide */


.carousel-content {
    width: 100%;
    height: 100%;
    background-size: cover;
    /* border-radius: 20px; */
    overflow: hidden;
    position: relative;
    /* top: 50%;
    left: 50%; */
    /* box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); */
    /* transform: translate(-50%, -50%); */
}

#nav-navigation {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar {
    width: 40px;
    height: 17px;
    margin: 3px;
    border: 2px solid black;
    border-radius: 5rem;
    cursor: pointer;
    transition: .6s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar:hover {
    background: black;

}

.carousel-content .carousel-slides input {
    display: none;
}

.carousel-slides {
    display: flex;
    width: 500%;
    height: 100%;
}

.slider {
    width: 20%;
    transition: 2s;
    display: flex;
    align-items: center;

}

.slider_text:nth-child(1) {
    color: #ffff;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 30%;
    text-align: justify;
}

.slider_text>p,
.slider_text>h3,
.slider_text>p>a {
    color: #ffff;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-size: 12px;
}

.slider_text {
    margin-left: 10%;
}

.slider_text>h2 {
    font-size: 35px;
    color: #ffff;
}

#btn-inscreva, .btn-redirec {
    background: rgba(79, 142, 181, 0.50);
    color: #ffff;
    margin-top: 10px;
    border-radius: 10px;
    width: 300px;
    height: 25px;
    cursor: pointer;
}

#btn-inscreva:hover, .btn-redirec:hover {
    background: rgba(79, 142, 181, 2);
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 7);
}

/* #next {
    position: absolute;
    font-size: 35px;
    top: 45%;
    left: 10px;
    cursor: pointer;
}

#next>i {
    color: #fff;
}

#prev {
    position: absolute;
    cursor: pointer;
    font-size: 35px;
    top: 45%;
    /* left: 97%; 
    right: 10px;
}

#prev>i {
    color: #fff;
} */

/* #slide1:checked~.s1 {
    margin-right: -100%;
} */

#slide2:checked~.s1 {
    margin-left: -20%;
}

#slide3:checked~.s1 {
    margin-left: -40%;
}

#slide4:checked~.s1 {
    margin-left: -60%;

}

#slide5:checked~.s1 {
    margin-left: -80%;
}

.carousel-content .carousel-slides .slider_1 {
    background: url('https://img.elo7.com.br/product/original/3B6A5D4/edicao-de-fotos-reais-animes-ou-desenhos-edicao-de-desenho.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-content .carousel-slides .slider_2 {
    background: url('https://cdn.pixabay.com/photo/2018/07/22/09/24/pages-3554116_960_720.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-content .carousel-slides .slider_3 {
    background: url('https://jornalismorio.espm.br/wp-content/uploads/2021/12/confira-agora-os-25-melhores-animes-que-ja-foram-criados-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-content .carousel-slides .slider_4 {
    background: url('https://uploads.spiritfanfiction.com/historias/capas/201904/paginas-de-livros-16170039-010420191341.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.carousel-content .carousel-slides .slider_5 {
    background: url('https://miro.medium.com/max/1400/1*cYsMONiUZ60XrpaPRgUZ8w.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

#slides_slide {
    height: 100vh;
    width: 100%;
    background: linear-gradient(darkslategray, darkgray, gray);
    position: relative;
}

/* texto e conteudoo slides da landing page */

#parallax-sobre {
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    flex-wrap: wrap;
    word-wrap: break-word;
    word-break: break-all;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-items: center;
    position: relative;
    padding: 10px;
    background: url(/IMG/Animated\ Shape.svg) no-repeat;
    background-size: cover;
}

.sobre section:nth-child(2) {

    display: flex;
    grid-column: 4/4;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    position: relative;


}

#parallax-sobretxt {
    text-align: justify;
    grid-column: 1/3;
}











@media (max-width:799px) {

    /*html*/
    html {
        font-size: 50%;
    }

    /*header*/
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
    }

    /*icon span*/
    header>#menu-icon {
        display: block;
    }

    /*navbar*/
    header>.nav-barra {
        position: fixed;
        top: 6.2rem;
        right: -120%;
        height: 100%;
        width: 100%;
        border-top: .2rem solid rgba(0, 0, 0, .3);
    }

    /*lista nav*/
    header>.nav-barra>ul {
        height: 100%;
        width: 100%;
        flex-flow: column;
        background: #fff;
        padding-bottom: 15rem;
    }

    header>.nav-barra>ul>li {
        text-align: center;
        width: 100%;
        margin: 1rem 0;

    }

    header>.nav-barra>ul>li>a {
        font-size: 4rem;
        color: #333;
        display: block;
    }

    header>.nav-barra>ul>li>a:hover {
        background: var(--opcional1--or);
    }

    /*classe de icone criado no js*/
    .fa-times {
        transform: rotate(180deg);
        text-decoration: overline 3px;
        transition: 1s;
    }

    /* classe de nav criado no js*/

    header>.nav-toggle {
        right: 0%;
    }
}