@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');



/*criando variaveis para facilitar*/
/* :root { 
    

}*/

/*zerando para futuramente não dá problema e forçando algumas caracterisiticas serem pegas*/
* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    border: 0;
    text-decoration: none;
    color: black;
    /*contorno*/
    outline: none;
    /*formatar o texto*/
    transition: all .2s linear;
}

/*seletor do mouse*/
*::selection {
    background: darkslategray;
    color: #fff;

}
*::placeholder{
    color: #ffab41;
}

/*iniciando o html*/


/*finalizando o html*/

/*iniciando o body*/


/*finalizando o body*/

/*estilizando o header*/
header {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000;
    background: #B4E6EA;
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3);
    width: 100%;
    text-transform: capitalize;
    display: flex;
    justify-content: space-around;
}

/*estilizando o texto dentro do header*/
header>.text-logo {
    font-size: 2rem;
    color: #666;
    padding: 0.5rem;
    text-align: center;
}

/*criando o span hamburg*/
header>#menu-icon {
    width: 20px;
    /* border-top:1px solid #666; */
    font-size: 2rem;
    margin: 1rem;
    color: #666;
    display: none;
}

/*terminando o span hamburg*/

/*iniciando nav*/
header>.nav-barra>ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    background: var(--opcional1--or);
    padding: 1rem;
}

header>.nav-barra>ul>li {
    margin: 0 1.5rem;
}

header>.nav-barra>ul>li>a {
    font-size: 1.3rem;
}

header>.nav-barra>ul>li>a:hover {
    color: #666;
}

/*termiando nav*/


/*Main/Parallax*/

*main {
    word-wrap: break-word;
    word-break: break-all;
    box-sizing: border-box;
}

/*parallax*/

.module {
    background: var(--opcional1--or);
    position: relative;

}


.module .image {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text {
    text-align: center;
}

.text>a:hover {
    text-decoration: overline;
    color: gray;
}

#btn-inscreva {

    margin: 10px 0px 0px 0px;
    width: 300px;
    height: 50px;
    border-radius: 19px;
    background: #225585;
   /* box-shadow: /*inset -5px 5px 12px #0e2235,*/
        /*inset 5px -5px 12px #3688d5;*/

}

.text h1 {
    font-size: 2rem;
}

.parallax-1 {
    background-image: url('/IMG/Animated\ Shape.svg');
    background-repeat: no-repeat;

}


/* Barra de pesquisa (inicio) */

.module-2{
    background: gray;
    height: 100vh;
}


#navsecun{
    height: 50px;
    width: 100%;
    display: none;
    position: absolute;
}

#menu-2{
    display: flex;
    justify-content: space-around;
    width: 100%;
    text-align: center;
    align-items: center;
    height: 100%;
}
#menu-2>div{

    background: darkslategrey;
    height:inherit ;
    width: 50%;
    text-align: center;
    align-items: center;
}

#menu-2>div>ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    height: inherit;
}
#part2{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;

}


.search-parallax{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 10%;
    background: #ff9201;
    border-radius: 20px;
    box-shadow: inset 3px 3px 3px 2px rgba(0, 0, 0, 0.2);
    margin: 10px;
    align-self: flex-start;
    
}
.loupe{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}
.loupe>i{
    margin-left: 13px;
}
.loupe #search{
    width: 30vw;
    height: 30px;
    border-radius: 10px;
    caret-color: #ff6d00;
    padding-left: 10px;
    color: #ffab41;
}

.text-search{
 
    width: 90%;
    height: 10px;
    text-align: justify;
    transform: translate(0,-250px);
    flex-wrap: wrap;
    
}
.text-search h3{
    text-align: center;
}
.text-search p{
    padding: 10px;
    margin-left: 20px;
}




/*  barra de pesquisa (fim)*/

/* communidades (inicio) */

.communitys{
    background: #ff6d00;
    height: 60vh;
    width: 40vw;
    align-self: flex-end;
    margin-right: 20px;
    border-radius: 10px;
    border: 1px solid;
    display: flex;
    align-items: center;
    
}
.comando{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
}

.communitys>.community-card>h3{
    text-align: center;
    border-bottom: 1px solid;
 
}
.communitys>.community-card>h5{
    margin:5px;
}

.communitys>.community-card>h3>i{
    margin-right: 10px;
}
.communitys>.community-card>.comunnity{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin: 10px;
}

.comunnity>div{
margin: 5px;

}


.comunnity>div:first-child{
    height: 100%;
    border-left:  3px inset rgba(0, 0, 0, .6);
}
.comunnity>div:first-child>ul{
    display: flex;
    margin-right: 10px;
    list-style: none;
    flex-direction: column;
    margin-left: 2px;
    padding: 4px;
}

.comunnity>div:first-child>ul>li {
    height: 45px;
    margin: 3px;
    text-align:center;
    padding: auto;
    width: 400px;
    border-bottom: 2px solid;
    border-top: 2px solid;
}

.sub{
    font-size: 13px;
    list-style: none;
}
.icons-chat i{
    height: 45px;
    margin: 3px;
    text-align:center;
    padding: auto;
    padding-top: 10px;
    border-bottom: 2px solid;
    border-top: 2px solid;
}
.icons-chat{
    padding: 5px;
}
/* communidades (fim) */

/* buton switch (inicio)*/

.btn-switch{
    height: 25em;
    width: 25em;
    position: relative;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

#tema[type="checkbox"]{
    appearance: none;
    height: 9.37em;
    width: 18.75em;
    background: #ff9201;
    position: relative;
    transform: translate(-50%);
    left: 50%;
    top:6.25em;
    border-radius: 4.68em;
}

#tema[type="checkbox"]::before{
    position: absolute;
    content: "";
    height: 8.12em;
    width: 8.12em;
    background-color: #ff6d00;
    border-radius: 50%;
    top: 0.62em;
    left: 0.62em;
    transition: 0.3s;
}

#troca-tema[for="tema"]{
    height: 6.25em;
    width: 0.62em;
    background-color: #ff9201;
    position: relative;
    top: 11em;
    left: 8em;
    z-index: -1;
    transition: 0.3s;
}

#troca-tema[for="tema"]::after{
    position: relative;
    content: "";
    height: 0;
    width: 0.75em;
    border-bottom: 1.56em solid #ff6d00;
    border-left: 0.56em solid transparent;
    border-right: 0.56em solid transparent;
    top: 5.93em;
    left: -0.68em;

}

#tema[type="checkbox"],#troca-tema[for="tema"]{
    cursor: pointer;
}

#tema[type="checkbox"]:checked::before{
    background: #ff9201;
    left: 10em;
    box-shadow: 0 0 8.75em 1.87em rgba(0,0,0 0.6);
}

#tema[type="checkbox"]:checked + #troca-tema{
    top:12em;
}
/* buton switch(fim) */


/*final card parallax*/


@media (max-width:500px) {

    /*html*/
    html {
        font-size: 50%;
    }

    /*header*/
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 1rem;
    }

    /*icon span*/
    header>#menu-icon {
        display: block;
    }

    /*navbar*/
    header>.nav-barra {
        position: fixed;
        top: 6.2rem;
        right: -120%;
        height: 100%;
        width: 100%;
        border-top: .2rem solid rgba(0, 0, 0, .3);
    }

    /*lista nav*/
    header>.nav-barra>ul {
        height: 100%;
        width: 100%;
        flex-flow: column;
        background: #fff;
        padding-bottom: 15rem;
    }

    header>.nav-barra>ul>li {
        text-align: center;
        width: 100%;
        margin: 1rem 0;

    }

    header>.nav-barra>ul>li>a {
        font-size: 4rem;
        color: #333;
        display: block;
    }

    header>.nav-barra>ul>li>a:hover {
        background: var(--opcional1--or);
    }

    /*classe de icone criado no js*/
    .fa-times {
        transform: rotate(180deg);
        text-decoration: overline 3px;
        transition: 1s;
    }

    /* classe de nav criado no js*/

    header>.nav-toggle {
        right: 0%;
    }
}


/* imagem{
    flex: 1 1 40 rem;
}
imagem img{
    flex: 1 1 40 rem;
}
.content{
    
} */